<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>754204081435-f6j88jk4iokhqebjnl130scetabcpf9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754204081435-f6j88jk4iokhqebjnl130scetabcpf9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBXcb3vcgVPeXarvEsckGTCo-nEuA9Eq3A</string>
	<key>GCM_SENDER_ID</key>
	<string>754204081435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palprotech.heylaapp</string>
	<key>PROJECT_ID</key>
	<string>cobalt-list-193105</string>
	<key>STORAGE_BUCKET</key>
	<string>cobalt-list-193105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754204081435:ios:15daf0ec559fa0f5</string>
	<key>DATABASE_URL</key>
	<string>https://cobalt-list-193105.firebaseio.com</string>
    <key>TRACKING_ID</key>
    <string>UA-XXXXXX-X</string>
</dict>
</plist>
